.page {
    min-height: 100vh;
    max-width: 100vw;
    background-color: #dbe0ec;
    padding: 15px;
}

.box {
    height: 95vh;
    width: 95vw;
    background-color: #f6f7fc;
    border-radius: 10px;
}

.search-div{
    height: 100px;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    border-color: transpaent;
}

.data-table th,
.data-table td {
    padding: 8px;
}

.checkbox,
.checkbox-all {
    text-align: center;
}

.row-color-1 {
    background-color: #ffffff;
}

.row-color-2 {
    background-color: transparent;
}

.table-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    background-color: #ffffff;
}

.pagination-btn {
    padding: 5px 10px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
}

.active-customers {
    font-weight: bold;
}

.rows-dropdown {
    margin-left: 10px;
}

.pagination,
.page-details {
    display: flex;
    align-items: center;
}
